{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_name }} | WIMP3{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="dashboard_title">Agriculture Services Parameters</h3>
    </div>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:pest_risk_list' %}">
                <img src="{% static 'button_icons/smart-farming.png' %}" alt="Pest Risk" />
                <span class="task_desc">Pest Risk</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3 class="dashboard_title">Pest Risk Parameters</h3>
    </div>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:sector_list' %}">
                <img src="{% static 'button_icons/classification.png' %}" alt="Sector" />
                <span class="task_desc">Sector</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:commodity_list' %}">
                <img src="{% static 'button_icons/commodity.png' %}" alt="Commodity" />
                <span class="task_desc">Commodity</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:drought_alert_level_list' %}">
                <img src="{% static 'button_icons/speedometer.png' %}" alt="Drought Alert Level" />
                <span class="task_desc">Drought Alert Level</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:action_items_list' %}">
                <img src="{% static 'button_icons/action.png' %}" alt="Actions" />
                <span class="task_desc">Actions</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:effect_items_list' %}">
                <img src="{% static 'button_icons/productivity.png' %}" alt="Effects" />
                <span class="task_desc">Effects</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:info_items_list' %}">
                <img src="{% static 'button_icons/pencil.png' %}" alt="Effects" />
                <span class="task_desc">Additional Info</span>
            </a>
        </div>
    </div>
    <div class="col-12">
        <h3 class="dashboard_title">Get Data</h3>
        <div class="alert alert-info">The options below load default data from a JSON file. <strong>Please note that any existing entries will be overwritten.</strong></div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row mb-3 item_dashboard">
            <form method="post" action="{% url 'agro:load_data_commodities' %}" onsubmit="return confirm('Load Data [Commodities] now? Existing records may be updated.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">
                    <img src="{% static 'button_icons/file-import.png' %}" alt="Load Data [Commodities]" />
                    <span class="task_desc">Load Data [Commodities]</span>
                </button>
            </form>
        </div>
        <div class="col-12 d-flex flex-row mb-3 item_dashboard">
            <form method="post" action="{% url 'agro:load_data_drought_alerts' %}" onsubmit="return confirm('Load Data [Drought Alert Levels] now? Existing records may be updated.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">
                    <img src="{% static 'button_icons/file-import.png' %}" alt="Load Data [Drought Alert Levels]" />
                    <span class="task_desc">Load Data [Drought Alert Levels]</span>
                </button>
            </form>
        </div>
        <div class="col-12 d-flex flex-row mb-3 item_dashboard">
            <form method="post" action="{% url 'agro:load_data_commodities' %}" onsubmit="return confirm('Load Data [Actions] now? Existing records may be updated.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">
                    <img src="{% static 'button_icons/file-import.png' %}" alt="Load Data [Actions]" />
                    <span class="task_desc">Load Data [Actions]</span>
                </button>
            </form>
        </div>
        <div class="col-12 d-flex flex-row mb-3 item_dashboard">
            <form method="post" action="{% url 'agro:load_data_effects' %}" onsubmit="return confirm('Load Data [Effects] now? Existing records may be updated.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">
                    <img src="{% static 'button_icons/file-import.png' %}" alt="Effects" />
                    <span class="task_desc">Load Data [Effects]</span>
                </button>
            </form>
        </div>
        <div class="col-12 d-flex flex-row mb-3 item_dashboard">
            <form method="post" action="{% url 'agro:load_data_addtional_info' %}" onsubmit="return confirm('Load Data [Addional Info] now? Existing records may be updated.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">
                    <img src="{% static 'button_icons/file-import.png' %}" alt="Effects" />
                    <span class="task_desc">Load Data [Addional Info]</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}