{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_name }} | WIMP3{% endblock %}
{% block content %}
<div class="row mb-5">
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:pest_risk_list' %}">
                <img src="{% static 'button_icons/smart-farming.png' %}" alt="Pest Risk" />
                <span class="task_desc">Pest Risk</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Pest Risk Parameters</h4>
    </div>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:sector_list' %}">
                <img src="{% static 'button_icons/classification.png' %}" alt="Sector" />
                <span class="task_desc">Sector</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:zone_area_list' %}">
                <img src="{% static 'button_icons/province.png' %}" alt="Zone/Area" />
                <span class="task_desc">Zone/Area</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:district_zone_list' %}">
                <img src="{% static 'button_icons/belize.png' %}" alt="District" />
                <span class="task_desc">District</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:commodity_list' %}">
                <img src="{% static 'button_icons/commodity.png' %}" alt="Commodity" />
                <span class="task_desc">Commodity</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:pest_alert_level_list' %}">
                <img src="{% static 'button_icons/speedometer.png' %}" alt="Pest Alert Level" />
                <span class="task_desc">Pest Alert Level</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:drought_alert_level_list' %}">
                <img src="{% static 'button_icons/speedometer.png' %}" alt="Drought Alert Level" />
                <span class="task_desc">Drought Alert Level</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:action_items_list' %}">
                <img src="{% static 'button_icons/action.png' %}" alt="Actions" />
                <span class="task_desc">Actions</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'agro:effect_items_list' %}">
                <img src="{% static 'button_icons/productivity.png' %}" alt="Effects" />
                <span class="task_desc">Effects</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}