{% extends "base.html" %}
{% block title %}{{ page_name }} | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}
{% block content %}

<div class="row mt-3">
    <div class="col-12">
        <form method="post" id="frm_pest_risk_details" id="frm_pest_risk_details" class="wimp3_form">
            {% csrf_token %}
            {{ form.commodity_id }}
            {{ form.district_id }}
            <ul>

            </ul>
                <li>{{ form.commodity_name.label_tag }}
                    {{ form.commodity_name }}
                </li>
                <li>
                    {{ form.district_name.label_tag }}
                    {{ form.district_name }}
                </li>
                <li>
                    {{ form.pest_alert_lvl_id.label_tag }}
                    {{ form.pest_alert_lvl_id }}
                </li>
                <li>
                    {{ form.drought_alert_lvl_id.label_tag }}
                    {{ form.drought_alert_lvl_id }}
                </li>
                <li>
                    {{ form.temp_max.label_tag }}
                    {{ form.temp_max }}
                </li>
                <li>
                    {{ form.temp_min.label_tag }}
                    {{ form.temp_min }}
                </li>
                <li>
                    {{ form.precip_min.label_tag }}
                    {{ form.precip_min }}
                </li>
                <li>
                    {{ form.precip_max.label_tag }}
                    {{ form.precip_max }}
                </li>
                <li>
                    {{ form.effect.label_tag }}
                    {{ form.effect }}
                </li>
                <li>
                    {{ form.info.label_tag }}
                    {{ form.info }}
                </li>
                <li>
                    {{ form.actions.label_tag }}
                    {{ form.actions }}
                </li>
                <li>
                    <label for="btn_submit">&nbsp;</label>
                    <input id="btn_submit" type="submit" value="Submit" class="btn" />
                    <a class="btn btn-danger text-uppercase dt" href="{{ back_url }}">Cancel</a>
                </li>            
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function () {
    $('.select2').select2({
        width: '100%',
        placeholder: 'Select an option',
        allowClear: true
    });
});
</script>
{% endblock %}