{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_name }} | WIMP3 | NMS Belize{% endblock %}
{% block content %}

<div class="row mb-3">
    <div class="col-12 d-flex flex-row justify-content-end">
        <div class="table_item_dashboard">
            <a class="btn-link" href="{{ back_url }}">
                <img src="{% static 'button_icons/previous.png' %}" alt="Inventory List" />&nbsp;<span class="task_desc">Back to {{ prev_page }}</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Pest Risk Details for Commodity: <span class="text-danger text-bold">{{ commodity }}</span></h4>
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>
</div>
{% endblock %}