{% extends "base.html" %}

{% block title %}Pest Risk Table Details | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}

{% block content %}
<div id="main_pr_list" class="container-full p-5">
<div class="row mb-3">
    <div class="col-12">
        <h1>Pest Risk Variables: <span class="page-name">{{ page_name }}</span></h1>
    </div>
</div>
<div class="row mb-3">
    <div class="col-6">
        <a id="btn_back_main" class="btn btn-link" href="{% url 'agro:index' %}"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back to Agro-Met Services</a>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn_new" href="{{ new_url }}"><i class="fa-solid fa-plus"></i>&nbsp;New Item</a>
        <a class="btn btn_api" href="{{ api_url }}" target="_blank"><i class="fa-solid fa-list"></i>&nbsp;API Feed</a>
    </div>
</div>
{% if id %}
<div class="row mb-3">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            {{ entry.id }}
            {% if entry.description %}
            <strong>{{ entry.description }}</strong> has been successfully added!
            {% endif %}
            {% if entry.action_description %}
            <strong>{{ entry.action_description }}</strong> has been successfully added!
            {% endif %}
            {% if entry.effect_description %}
            <strong>{{ entry.effect_description }}</strong> has been successfully added!
            {% endif %}
            {% if entry.district_area %}
            <strong>{{ entry.district_area }}, {{ entry.zone }}</strong> has been successfully added!
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-12">
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>
</div>
</div>
{% endblock %}