{% extends "base.html" %}

{% block title %}{{ page_name }} | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}

{% block content %}
<div id="" class="container-fluid p-5">
    <div class="row mb-3">
        <div class="col-6">
            <a id="btn_back_main" class="btn btn-link" href="{% url 'index' %}"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back to {{ page_name }} Listing</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h1>{{ page_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" id="frm_entry_form">
                <div class="form-group row">
                    <div class="col-6">
                        <form action="/users/login/" method="post">
                            {% csrf_token %}
                        {{ form }}
                        <input id="btn_submit" type="submit" value="Submit" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}