{% extends "base.html" %}
{% block title %}{{ page_name }} | WIMP3 | NMS Belize{% endblock %}
{% load static %}
{% block content %}
<div class="row mb-3">
    <div class="col-12 text-end">
        <a class="btn btn-primary" href="{{ back_url }}"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back to {{ page_name }} Listing</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post" id="frm_entry_form" name="frm_entry_form" class="wimp3_form d-flex flex-row align-items-start">
            {% csrf_token %}
            {{ form.as_ul }}
            <input id="btn_submit" type="submit" value="Submit" class="btn ms-2" />
            <li>
                <label for="btn_submit">&nbsp;</label>
                
            </li>
        </form>
    </div>
</div>
{% endblock %}