{% extends "base_form.html" %}
{% load static %}
{% block content %}
<div class="mb-3 text-end">
    {% if previous_entry %}
        <a href="{% url 'forecasts:marine_forecast_entry' previous_entry.id %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-chevron-left me-2"></i>Previous</a>
    {% endif %}
    {% if next_entry %}
        <a href="{% url 'forecasts:marine_forecast_entry' next_entry.id %}" class="btn btn-sm btn-primary"> Next <i class="fa-solid fa-chevron-right ms-2"></i></a>
    {% endif %}
</div>
<form method="post">
    {% csrf_token %}
    {% include "marine-forecast/tab_nav.html" %}
    <!--<button type="button" class="btn btn_new btn-sm" data-bs-toggle="modal" data-bs-target="#addInstructionModal"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add Instruction</button>-->
    <div class="modal fade" id="modal_delete_details" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title m-0">Delete Marine Details Entry: <span id="marine_category_name" class="text-danger fw-bold"></span></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="error" name="error" class="text-danger mb-2"></div>
                    <div class="form-group alert alert-danger m-0">
                        <label class="form-label fw-bold">Are you sure you want to delete this entry? <em>This action is non-recoverable!</em></label>
                        <div class="fw-bold font-danger"></div>
                        <input type="hidden" id="delete_entry_id" name="delete_entry_id" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_submit btn btn-primary" id="btn_proceed">Proceed</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn_cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <button id="btn_submit" name="submit_action" type="submit" value="continue" class="btn btn-success me-2" >Save & Continue</button>
        <button id="btn_submit_close" name="submit_action" type="submit" value="close" class="btn btn-primary me-2">Save & Close</button>
        <a id="btn_close" class="btn btn-danger" href="{{ back_url }}">Cancel</a>
    </div>
</form>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function () {

    /*$('#id_cap_alerts').select2({
        width: '100%',
        placeholder: 'Select CAP Alerts',
        allowClear: true,
        templateResult: function(data) {
            if (!data.id) {
                return data.text;
            }
            const option = $(data.element);
            const title  = option.data('title') || '';
            const author = option.data('author') || '';
            const date   = option.data('date') || '';
            const expdate   = option.data('expdate') || '';
            const isExpired = expdate && new Date(expdate) < new Date();

            let formattedDate = '';

            if (date) {
                formattedDate = new Date(date).toLocaleString('en-US', {
                    month: 'short',
                    day: '2-digit',
                    year: 'numeric',
                    hour: 'numeric',
                    minute: '2-digit',
                    hour12: true
                });
            }

            if (expdate) {
                formattedExpDate = new Date(date).toLocaleString('en-US', {
                    month: 'short',
                    day: '2-digit',
                    year: 'numeric',
                    hour: 'numeric',
                    minute: '2-digit',
                    hour12: true
                });
            }

            if(isExpired){
                return $(`
                    <div>
                        <div class="fw-bold">${title}</div>
                        <div class="small text-muted">${author} &bull; PubDate: ${formattedDate} | ExpDate: ${formattedExpDate}</div>
                    </div>
                `);
            
            }
            else{
                return $(`
                    <div>
                        <div class="fw-bold">${title}</div>
                        <div class="small text-muted">${author} &bull; PubDate: ${formattedDate} | ExpDate: <span class="text-success fw-bold">${formattedExpDate}</span></div>
                    </div>
                `);
            } 
        },
        templateSelection: function(data) {
            if (!data.id) {
                return data.text;
            }
            return $(data.element).data('title') || data.text;
        }
    });

    $('#id_tropical_alerts').select2({
        placeholder: 'Select Tropical Alerts',
        width: '100%',
        closeOnSelect: false,
    });*/

    $('.marine-wind-direction').select2({
        placeholder: 'Select Wind Direction',
        width: '100%',
        closeOnSelect: false,
    });

    $('.marine-sea-state').select2({
        placeholder: 'Select Sea State',
        width: '100%',
        closeOnSelect: false,
    });

    $(".btn_delete").click(function () {
        const marine_category = $(this).data("marine_category");
        $("#marine_category_name").text(marine_category);
        $("#delete_entry_id").val($(this).data("id"));
        $(this).closest("tr").addClass("table-danger remove-row");
    });

    document.getElementById("btn_proceed").addEventListener("click", function () {

        const entry_id = $("#delete_entry_id").val();
        const errorBox = document.getElementById("error");
            
        fetch("{% url 'forecasts:marine_details_delete' id=0 %}".replace("0", entry_id), {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({
                //marine_category: marine_category,
            })
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
            if (data.success) {
                errorBox.innerText = "";
                const modalElement = document.getElementById("modal_delete_details");
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();
                $(".remove-row").remove();
            }
            else {
                console.log(data.error);
                errorBox.innerText = data.error;
            }
        });
    });

    $(document).on("change", ".details-inline-edit", function () {

        const input = $(this);

        const data = {
            id: input.data("id"),
            field: input.data("field"),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        };

        if (input.data("field") === "wind_direction") {
            const selectedValues = input.val() || [];
            //console.log("Selected wind directions:", selectedValues);
            data.values = selectedValues;
        } 
        else if (input.data("field") === "sea_state") {
            const selectedValues = input.val() || [];
            //console.log("Selected sea states:", selectedValues);
            data.values = selectedValues;
        } 
        else {
            data.value = input.val();
        }

        $.ajax({
            url: "{% url 'forecasts:marine_forecast_details_inline_update' %}",
            type: "POST",
            traditional: true,
            data: data,
            success: function (response) {
                //console.log("Saved:", response);
                if (input.hasClass("select2-hidden-accessible")) {
                    const selection = input.next(".select2-container").find(".select2-selection");
                    selection.addClass("is-valid");
                    setTimeout(function () {
                        selection.removeClass("is-valid");
                    }, 1000);
                }
                else {
                    input.addClass("is-valid");
                    setTimeout(function () {
                        input.removeClass("is-valid");
                    }, 1000);
                }
            },
            error: function (xhr) {
                console.error(xhr.responseText);

                if (input.hasClass("select2-hidden-accessible")) {
                    input.next(".select2-container").find(".select2-selection").addClass("is-invalid");
                } 
                else {
                    input.addClass("is-invalid");
                }
            }
        });
    });

    $(document).on("change", ".tides-inline-edit", function () {

        const input = $(this);

        $.ajax({
            url: "{% url 'forecasts:marine_forecast_tides_inline_update' %}",
            type: "POST",
            data: {
                id: input.data("id"),
                field: input.data("field"),
                value: input.val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (response) {
                console.log("Saved:", response);
                input.addClass("is-valid").removeClass("is-invalid");
                setTimeout(function () { input.removeClass("is-valid"); }, 1000);
                $("#alert_tide").html("");
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                input.addClass("is-invalid");
                const errorMessage = xhr.responseJSON?.error || "An error occurred.";
                $("#alert_tide").html('<div class="alert alert-danger alert-dismissable">' + errorMessage + '</div>');
            }
        });
    });

    $(document).on("change", ".sun-inline-edit", function () {

        const input = $(this);

        $.ajax({
            url: "{% url 'forecasts:sun_inline_update' %}",
            type: "POST",
            data: {
                id: input.data("id"),
                field: input.data("field"),
                value: input.val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (response) {
                console.log("Saved:", response);
                input.addClass("is-valid");
                input.removeClass("is-invalid");
                setTimeout(function () { input.removeClass("is-valid"); }, 1000);
                $("#alert_sun").html("");
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                input.addClass("is-invalid");
                const errorMessage = xhr.responseJSON?.error || "An error occurred.";
                $("#alert_sun").html('<div class="alert alert-danger alert-dismissable">' + errorMessage + '</div>');
            }
        });
    });

    $(document).on("change", ".moon-inline-edit", function () {

        const input = $(this);

        $.ajax({
            url: "{% url 'forecasts:moon_inline_update' %}",
            type: "POST",
            data: {
                id: input.data("id"),
                field: input.data("field"),
                value: input.val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (response) {
                console.log("Saved:", response);
                input.addClass("is-valid");
                input.removeClass("is-invalid");
                setTimeout(function () { input.removeClass("is-valid"); }, 1000);
                $("#alert_moon").html("");
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                input.addClass("is-invalid");
                const errorMessage = xhr.responseJSON?.error || "An error occurred.";
                $("#alert_moon").html('<div class="alert alert-danger alert-dismissable">' + errorMessage + "</div>");
            }
        });
    });

    $(document).on('change', '.inline-edit-select2', function () {

        const select = $(this);

        $.ajax({
            url: "{% url 'forecasts:marine_forecast_details_inline_update' %}",
            type: "POST",

            data: {
                id: select.data("id"),
                field: select.data("field"),
                values: select.val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            traditional: true,
            success: function (response) {
                console.log("Saved", response);
            },
            error: function (xhr) {
                console.error(xhr.responseText);
            }
        });
    });
});
</script>
{% endblock %}