<div class="row mb-4">
    <div class="col-12 mb-2">
        <h3 class="dashboard_title">General Information</h3>
    </div>
    <div class="col-2">
        <label class="form-label">Forecast Date:</label>
        {{ form.forecast_date }}
    </div>
    <div class="col-2">
        <label class="form-label">Forecast Time:</label>
        {{ form.forecast_time|time:"g:i A" }}
    </div>
    <div class="col-2">
        <label class="form-label">Forecast Category:</label>
        {{ form.forecast_category }}
    </div>
    <div class="clear mb-4"></div>
    <div class="col-6">
        <label class="form-label">Synopsis:</label>
        {{ form.synopsis }}
    </div>
    <div class="clear mb-4"></div>
    
</div>