<div class="row mb-4">
    <div class="col-12">
        <h3 class="dashboard_title">Temperatures</h3>
        <div class="row">
            <div class="col-4 border-end">
                <div class="fs-5 text-uppercase fw-bold mb-3 fst-italic">Coast</div>
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.coast_high_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                            {{ form.coast_low_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.coast_high_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>

                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                                {{ form.coast_low_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 border-end">
                <div class="fs-5 text-uppercase fw-bold mb-3 fst-italic">Inland</div>
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.inland_high_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                        
                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                            {{ form.inland_low_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.inland_high_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>
                        
                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                            {{ form.inland_low_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="fs-5 text-uppercase fw-bold mb-3 fst-italic">Hills</div>
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.hills_high_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                            {{ form.hills_low_c }}
                            <span class="input-group-text">&deg;C</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">High</label>
                        <div class="input-group mb-3">
                            {{ form.hills_high_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>
                        <label class="form-label">Low</label>
                        <div class="input-group mb-3">
                            {{ form.hills_low_f }}
                            <span class="input-group-text">&deg;F</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>