<div class="row mb-4">
    <div class="col-12 mb-2">
        <h3 class="dashboard_title">Alerts</h3>
    </div>
    <div class="col-6 mb-2">
        <label class="form-label">CAP Alerts:</label>
        <div class="d-flex flex-row mb-2">
            {{ form.cap_alerts }}
        </div>
    </div>
    <div class="col-6 mb-2">
        <label class="form-label">Tropical Weather Alerts:</label>
        <div class="d-flex flex-row">
            {{ form.tropical_alerts }}
        </div>
    </div>
</div>