# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Migrations (OPTIONAL – see note below)
# **/migrations/
# !**/migrations/__init__.py

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
