{% extends "base.html" %}

{% block title %}Alerts Dashboard | WIMP3{% endblock %}

{% block content %}
<div id="radar_services" class="container-full p-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="display-1">Alerts Dashboard</h1>  
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="item_task"><a class="btn_task" href="{% url 'alerts:cap_alerts_list' %}"><i class="fa-solid fa-circle-exclamation"></i><span class="task_desc">Cap Alerts</span></a></div>
            <div class="item_task"><a class="btn_task disabled" href="{% url 'agro:zone_area_list' %}"><i class="fa-solid fa-map-location-dot"></i><span class="task_desc">Tropical Weather Alerts</span></a></div>
        </div>
    </div>
</div>
{% endblock %}