{% extends "base_table.html" %}
{% block title %}CAP Alerts | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function() {
    function refreshCAPTable() {

        $.ajax({
            url:    window.location.href,
            type:   'GET',
            success: function(response) {
                const newRows = $(response).find('#table_cap_alerts tbody').html();
                $('#table_cap_alerts tbody').html(newRows);
            },
            error: function(xhr, status, error) {
                console.log('CAP table refresh failed:', error);
            }
        });
    }
    // Refresh every 30 seconds
    setInterval(refreshCAPTable, 30000) 
});
</script>
{% endblock %}