body{ 
   font-family: "Source Sans 3", sans-serif;
   font-weight: 400;
   font-optical-sizing: auto;
   font-style: normal;
   line-height: 1.2;
}
h1,h2,h3,h4,h5,h6{
   font-family: "Encode Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings: "wdth" 100;
}
h1{ font-weight: 300; font-size: 50px; }
.text-white{ color: #fff !important; }
#header{
  color:#fff;
  background:#001d3d;
}
#main-menu{

    color:#fff;
}
#main-menu a{ color:#fff; font-weight: 400; }
#menu_sidebar{
  background: #001d3d;
  color: #fff;
}
#menu_items li, #menu_items .list-group-item a{
  color: #fff;;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
#menu_items .list-group-item{
  background: transparent !important;
}
#logo{ font-size: 30px; font-weight: 600; color: #fff; }

#main_pr_start, #main_pr_details, #main_pr_list, #main_agro_services{
  background: #fff;;
}
#frm_PestRiskNew .form-group{
  clear: both;
  overflow: auto !important;
}
#frm_PestRiskNew #id_list_months{ 
  width: 100%; 
  clear: both; 
  padding-left: 40px; 
}
#frm_PestRiskNew #id_list_months div, #id_months div{
   float: left;
   width:8%;
 }
 #id_months{ width: 100%; padding-left: 42px; overflow: auto; }

 #frm_PestRisk label{
   float: left;
   width: 20%;
 }
#id_year{ clear: left; }
#frm_PestRisk select, #frm_PestRisk input[type=text], #frm_PestRisk textarea{
   float: left;
   width: 60%;
 }
 #frm_PestRisk p{
   overflow: auto;
   margin-bottom: 20px;;
 }
.page-name{ font-weight: 600; color:#00296B; }

.btn_new { background-color:#FDC500 !important; }
.btn_new:hover { background-color:#e3b100 !important; }

.btn_api { background-color:#E8DAA0 !important; }
.btn_api:hover { background-color:#eadda9
 !important; }

a.btn_edit {
  color:#FDC500;
  padding-top: 0;
  padding-bottom: 0;
}
a.btn_delete {
  color:#A70107;
  padding-top: 0;
  padding-bottom: 0;
}

.col_id, .col_id a{ color:#b7b7b7; }
.col_view, .col_view a{ color:#001d3d; }
.tbl_wimp3 th{
  background-color: #001d3d;
  color: #fff;
  padding: 0.5rem;
}
.tbl_wimp3 th a{ color:#fff !important; text-decoration: none !important; }
.tbl_wimp3 td{
  padding: 0.5rem;
}
.errorlist{
  color: red;
}

.errorlist {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
    color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}


.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

#btn_submit{
  margin-left: 21%;
}
#main_agro_services .list-group-item{
  padding-left:0;
}
#main_agro_services .list-group-item a{
  font-weight:600;
  color:#343a40;
  text-decoration:none;
}