{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/fa/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{{ page_name }} | {{ prev_page }} | WIMP3 | NMS Belize</title>
</head>
<body>
    <div class="d-flex">
    {% include "sidebar.html" %}
    <main class="main-content">
        <div class="container-fluid pt-3 pb-0 ps-5 pe-5">
            {% block header %}
            <div id="header" class="header pt-4 ps-3 pb-0 m-0">
                <div class="row">
                    <div class="col-6">
                        <h1>{{ page_name }}</h1>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <a class="me-4" href="{% url 'site_home' %}" id="logo"><img id="main_logo" src="{% static 'images/wimp3_logo_v2.png' %}" alt="WIMP3 Logo" style="width: 150px; margin-top:-6px;" /></a>
                        {% include "top_buttons.html" %}
                    </div>
                </div>
            </div>
            {% endblock %}
            <div id="block_content" class="p-4">
                {% include "section_buttons.html" %}
                {% include "messages.html" %}
                {% block content %}{% endblock %}
            </div>
            {% block footer %}
            <footer id="footer" class="footer p-4 text-center">
                <span>Copyright &copy; 2025 | All Rights Reserved. National Meteorological Service of Belize</span>
            </footer>
            {% endblock %}
        </div>
    </main>
</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/global_scripts.js' %}"></script>
{% block extra_js %}{% endblock %}
</html>