{% load static %}
<div class="form-group mb-3">
    <div class="d-flex flex-row justify-content-end p-2 bg-light border border-light-subtle">
        <div class="table_item_dashboard">
            <a class="btn-link" href="{{ back_url }}">
                <img src="{% static 'button_icons/previous.png' %}" alt="Inventory List" />&nbsp;<span class="task_desc">Back to {{ prev_page }}</span>
            </a>
        </div>
        <div class="table_item_dashboard">
            <a class="btn-link" href="{{ new_url }}">
                <img src="{% static 'button_icons/add-file.png' %}" alt="Inventory List" />&nbsp;<span class="task_desc">New Entry</span>
            </a>
        </div>
        {% if weburl %}
        <div class="table_item_dashboard">
            <a class="btn-link" href="{{ back_url }}">
                <img src="{% static 'button_icons/webpage.png' %}" alt="Inventory List" />&nbsp;<span class="task_desc">Go to Live Page</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>