{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_name }} | WIMP3{% endblock %}
{% block content %}
<div class="row">
    <h3 class="dashboard_title">Company Management</h3>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'company:company_list' %}">
                <img src="{% static 'button_icons/office-building.png' %}" alt="Company" />
                <span class="task_desc">Company</span>
            </a>
        </div>
    </div>
    <h3 class="dashboard_title">Products Management</h3>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:district_list' %}">
                <img src="{% static 'button_icons/belize.png' %}" alt="District" />
                <span class="task_desc">District</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:zone_area_list' %}">
                <img src="{% static 'button_icons/province.png' %}" alt="Zone/Area" />
                <span class="task_desc">Zone/Area</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:alert_level_list' %}">
                <img src="{% static 'button_icons/speedometer.png' %}" alt="Alert Level" />
                <span class="task_desc">Alert Level</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:risk_level_list' %}">
                <img src="{% static 'button_icons/speedometer.png' %}" alt="Risk Level" />
                <span class="task_desc">Risk Level</span>
            </a>
        </div>
    </div>

    <h3 class="dashboard_title">Inventory Management</h3>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:department_section_list' %}">
                <img src="{% static 'button_icons/sections.png' %}" alt="Deaprtment/Section" />
                <span class="task_desc">Department/Section</span>
            </a>
        </div>
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:office_location_list' %}">
                <img src="{% static 'button_icons/door-sign.png' %}" alt="Office Location" />
                <span class="task_desc">Office Location</span>
            </a>
        </div>
    </div>

    <h3 class="dashboard_title">User Management</h3>
    <div class="col-12 d-flex flex-row mb-3">
        <div class="item_dashboard position-relative">
            <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'system_core:job_title_list' %}">
                <img src="{% static 'button_icons/device.png' %}" alt="Job Titles" />
                <span class="task_desc">Job Titles</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}