{% extends "base.html" %}
{% block title %}{{ page_name }} | Agriculture Services | WIMP3{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <form method="post" class="">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Pest Risk Entry Information</h3>
                </div>
                <div class="col-4">
                    <label for="id_commodity_name" class="form-label">{{ form.commodity_name.label_tag }}</label>
                    {{ form.commodity_name }}
                </div>
                <div class="col-4">
                    <label for="id_district_name" class="form-label">{{ form.district_name.label_tag }}</label>
                    {{ form.district_name }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Alert Levels</h3>
                </div>
                <div class="col-4">
                    <label for="id_pest_alert_lvl_id" class="form-label">{{ form.pest_alert_lvl_id.label_tag }}</label>
                    <div class="d-flex flex-wrap">
                    {% for radio in form.pest_alert_lvl_id %}    
                        <div class="p-0 me-3">
                            {% if radio.data.value == 1 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-low" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>

                            {% elif radio.data.value == 2 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-medium" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>

                            {% elif radio.data.value == 3 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-high" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>   
                                
                            {% endif %}
                        </div>
                    {% endfor %}   
                    </div>

                    {% if form.pest_alert_lvl_id.errors %}
                        <div class="text-danger">
                            {{ form.pest_alert_lvl_id.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-4">
                    <label for="id_drought_alert_lvl_id" class="form-label">{{ form.drought_alert_lvl_id.label_tag }}</label>
                    <div class="d-flex flex-wrap">
                    {% for radio in form.drought_alert_lvl_id %}    
                        <div class="p-0 me-3">
                            {% if radio.data.value == 1 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-low" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>

                            {% elif radio.data.value == 2 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-medium" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>

                            {% elif radio.data.value == 3 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-high" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label> 
                            
                            {% elif radio.data.value == 4 %}
                                {{ radio.tag }}
                                <label class="btn btn-outline-critical" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>   
                                
                            {% endif %}
                        </div>
                    {% endfor %}   
                    </div>

                    {% if form.drought_alert_lvl_id.errors %}
                        <div class="text-danger">
                            {{ form.drought_alert_lvl_id.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <h3 class="dashboard_title">Temperatures</h3>
                    <div class="row">
                        <div class="col-3">
                            <label for="id_temp_max" class="form-label">{{ form.temp_max.label_tag }}</label>
                            <div class="input-group mb-3">
                                {{ form.temp_max }}
                                <span class="input-group-text">&deg;F</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="id_temp_max" class="form-label">{{ form.temp_min.label_tag }}</label>
                            <div class="input-group mb-3">
                                {{ form.temp_min }}
                                <span class="input-group-text">&deg;F</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-2">
                    <h3 class="dashboard_title">Precipitation</h3>
                    <div class="row">
                        <div class="col-3">
                            <label for="id_temp_max" class="form-label">{{ form.precip_min.label_tag }}</label>
                            <div class="input-group mb-3">
                                {{ form.precip_min }}
                                <span class="input-group-text">mm</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="id_temp_max" class="form-label">{{ form.precip_max.label_tag }}</label>
                            <div class="input-group mb-3">
                                {{ form.precip_max }}
                                <span class="input-group-text">mm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Info</h3>
                </div>
                <div class="col-6">
                    {{ form.effect.label_tag }}
                    {{ form.effect }}
                </div>
                <div class="clear mb-4"></div>
                <div class="col-6">
                    {{ form.info.label_tag }}
                    {{ form.info }}
                </div>
                <div class="clear mb-4"></div>
                <div class="col-6">
                    {{ form.actions.label_tag }}
                    {{ form.actions }}
                </div>
            </div>
            <input id="btn_submit" type="submit" value="Submit" class="btn" />
            <a class="btn btn-danger text-uppercase dt" href="{{ back_url }}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function () {
    $('.select2').select2({
        width: '100%',
        placeholder: 'Select an option',
        allowClear: true
    });
});
</script>
{% endblock %}