{% extends "base.html" %}
{% block title %}{{ page_name }} | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <form method="post" class="wimp3_form">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Pest Risk Entry Information</h3>
                </div>
                <div class="col-4">
                    {{ form.commodity_name.label_tag }}
                    {{ form.commodity_name }}
                </div>
                <div class="col-4">
                    {{ form.district_name.label_tag }}
                    {{ form.district_name }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Alert Levels</h3>
                </div>
                <div class="col-4">
                    {{ form.pest_alert_lvl_id.label_tag }}
                    {{ form.pest_alert_lvl_id }}
                </div>
                <div class="col-4">
                    {{ form.drought_alert_lvl_id.label_tag }}
                    {{ form.drought_alert_lvl_id }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Temperature</h3>
                </div>
                <div class="col-4">
                    {{ form.temp_max.label_tag }}
                    {{ form.temp_max }}
                </div>
                <div class="col-4">
                    {{ form.temp_min.label_tag }}
                    {{ form.temp_min }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Precipitation</h3>
                </div>
                <div class="col-4">
                    {{ form.precip_min.label_tag }}
                    {{ form.precip_min }}
                </div>
                <div class="col-4">
                    {{ form.precip_max.label_tag }}
                    {{ form.precip_max }}
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <h3 class="dashboard_title">Info</h3>
                </div>
                <div class="col-6">
                    {{ form.effect.label_tag }}
                    {{ form.effect }}
                </div>
                <div class="clear mb-4"></div>
                <div class="col-6">
                    {{ form.info.label_tag }}
                    {{ form.info }}
                </div>
                <div class="clear mb-4"></div>
                <div class="col-6">
                    {{ form.actions.label_tag }}
                    {{ form.actions }}
                </div>
            </div>
            <input id="btn_submit" type="submit" value="Submit" class="btn" />
            <a class="btn btn-danger text-uppercase dt" href="{{ back_url }}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function () {
    $('.select2').select2({
        width: '100%',
        placeholder: 'Select an option',
        allowClear: true
    });
});
</script>
{% endblock %}