{% extends "base_table.html" %}
{% load static %}
{% block title %}{{ page_name }} | WIMP3 | National Meteorological Service of Belize{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        {% load render_table from django_tables2 %}
        <form id="pest_risk_info_filter" method="get" class="mb-3 alert alert-light">
            <h2 class="title_filter">Filter Entries</h2>
            <div class="row">
                {% for field in filter.form %}
                    <div class="col-md-3 mb-2">
                        <!--<label class="form-label">{{ field.label }}</label>-->
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="col">
                    <a href="{{ list_url }}" class="btn btn-secondary">Clear</a>
                </div>
            </div>
            <!--<button type="submit" class="btn btn-primary">Filter</button>-->
        </form>
        {% render_table table %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function () {

    let filterTimer;

    function filterTable() {

        const form = $("#pest_risk_info_filter");

        $.ajax({
            url: window.location.pathname,
            type: "GET",
            data: form.serialize(),
            success: function (response) {
                const newTable = $(response).find("#table_pest_risk_info").html();
                $("#table_pest_risk_info").html(newTable);
            },
            error: function (xhr) {
                console.error("Filter error:", xhr.responseText);
            }
        });
    }

    // Search as user types
    $("#id_info_description").on("keyup", function () {
        clearTimeout(filterTimer);
        filterTimer = setTimeout(function () { filterTable(); }, 300);
    });

    $("#id_action_description").on("keyup", function () {
        clearTimeout(filterTimer);
        filterTimer = setTimeout(function () { filterTable(); }, 300);
    });

    $("#id_effect_description").on("keyup", function () {
        clearTimeout(filterTimer);
        filterTimer = setTimeout(function () { filterTable(); }, 300);
    });

    // Filter immediately when sector changes
    $("#id_commodity").on("change", function () {
        filterTable();
    });
});
</script>
{% endblock %}